body{
	font-family: Tempus Sans Itc, sans-serif;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	background-color: #FFFFFF;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}
a{
	font-size: 12px;
	color: #7E2217;
	cursor: pointer;
}
a img{
	border: none;
}
#container{
	margin: 0 auto;
	width: 1000px;
}
#main{
	position: relative;
	width: 1000px;
	height: 300px;
}
.details{
	height: 550px;
	padding: 10px;
}
#puller{
	display: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	padding: 0;
	bottom: 10px;
	cursor: pointer;
}
.holder{
	width: 483px;
	height: 604px;
	border: 1px solid #000000;
	-moz-box-shadow: 5px 5px 10px #999999;
	-webkit-box-shadow: 5px 5px 10px #999999;
	box-shadow: 5px 5px 10px #999999;
}
#menu{
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li{
	font-size: 12px;
	list-style: none;
	float: left;
	margin: 10px 10px 10px 0;
	padding: 0 10px;
	background: url(../images/centernode.png) repeat-y;
}
#menu ul{
	font-size: 12px;
	list-style: none;
	float: left;
	margin-left: 90px;
	padding: 0;
	background: url(../images/vertical.png) repeat-y;
}
#menu ul ul{
	font-size: 12px;
	list-style: none;
	float: left;
	width: 300px;
	margin-left: 200px;
}
#menu li ul{
	position: absolute;
	margin: 0;
	padding: 0;
}
#menu li ul li{
	display: inline;
	float: none;
}
#menu li a{
	text-decoration: none;
	padding: 5px 0;
	width: 150px;
	background: #FFF380;
	color: #000000;
	float: left;
	text-align: center;
	border: 1px solid #463E4C;
}
#menu li a:hover{
	background: #95B9C7;
	color: #000000;
}
.horizontal {
	background: url(../images/vertical.png) repeat-y;
}
.horizontal.first:after{
	content: " ";
	position: relative;
	font-size: 12px;
	line-height: 12px;
	background: #FFFFFF url(../images/horizontal.png) repeat-x;
	background-position: 170px 0px;
	display: block;
	height: 1px;
	top: 100px;
	left: 151px;
	width: 40px;
}
.horizontal.last:after{
	content: " ";
	position: relative;
	font-size: 12px;
	line-height: 12px;
	background: #FFFFFF url(../images/horizontal.png) repeat-x;
	background-position: 170px 0px;
	display: block;
	height: 1px;
	top: 60px;
	left: 151px;
	width: 40px;
}
#menu  li.first {
	background: #FFFFFF url(../images/firstnode.png) no-repeat;
	margin-top: 0px;
}
#menu  li.first.horizontal{
	background-color: #FFFFFF;
	background-image: url(../images/firstnode.png), url(../images/vertical.png);
	background-repeat: no-repeat,  repeat-y, repeat-x;
	background-position: 0 90px;
}
#menu  li.last {
	background: #FFFFFF url(../images/lastnode.png) no-repeat;
	margin-bottom: 0px;
}
#menu  li.last.horizontal{
	background-color: #FFFFFF;
	background-image: url(../images/lastnode.png), url(../images/vertical.png);
	background-repeat: no-repeat,  repeat-y;
	background-position: 0 50px;
	height: 60px;
}
li#parent{
	background: none;
	margin-bottom: 0px;
}
ul#child{
	height: 230px;
}
#me{
	margin-top: 90px;
}
#aboutgroup{
	margin-top: -133px;
}
#workout{
	margin-top: 50px;
}
#workoutgroup{
	margin-top: -35px;
}
#left{
	position: absolute;
	padding: 0;
	width: 500px;
	top: 150px;
}
#left #arrow{
	background: url(../images/arrow-brace.png) no-repeat;
	width: 150px;
	height: 18px;
	border: none;
	margin-bottom: 50px;
	margin-left: 100px;
	display: inline-block;
}
#left #arrow.no-image{
	background: none;
}
#left #banner{
	font-size: 50px;
	cursor: pointer;
}
#right{
	position: absolute;
	padding: 0;
	width: 500px;
	height: 600px;
	left: 500px;
	top: 50px;
}
#title{
	font-family: Palatino, sans-serif;
	font-size: 12px;
	padding: 10px;
	text-align: left;
}
div[id^="text"]{
	font-family: Palatino, sans-serif;
	font-size: 12px;
	padding: 10px;
	text-align: left;
}
footer{
	position: absolute;
	bottom: 0px;
}